* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(34, 102, 153, .5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(34, 102, 153, .5) 2px, transparent 2px),
    linear-gradient(rgba(34, 102, 153, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34, 102, 153, .28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/*div.info {
    margin-top: 75px;
    padding: 15px 30px;
}*/

.container {
    width: 350px;
    padding: 30px;
    margin: 80px auto 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: rgb(40, 102, 153);
    box-sizing: border-box;
}

.container p {
    color: #fff;
}
.green{
    color: #20c997;
}

.red {
    color: #ff0000;
}

.message {
    margin-top: 10px;
    padding: 10px 30px;
}

label {
    display: none;
}

input {
    text-align: center;
    border: none;
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.send {
    width: 200px;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: rgba(128, 189, 255, 0.6);
    color: #fff;
}