.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.greeting {
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 12px 24px;
    border-radius: 6px;
    text-align: center;
}