<link rel="stylesheet" href="../../style_inner_pages.css">

<div class="container info"><p>Все поля обязательны для заполнения</p></div>
<div class="container">
    <form action="index.php" method="post">
        <div>
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" placeholder="Логин" required>
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
        </div>
        <div>
            <button type="submit" class="send">Отправить</button>
        </div>
    </form>
</div>
