body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222;
    background: #fff url("bg-page.png") no-repeat top center;
}

.main__container {
    width: 550px;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.avatar__container {
    text-align: center;
}

.avatar {
    border: 1px #6c757d solid ;
    border-radius: 50%;
    width: 80px;
}

.main__navigation {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(68, 112, 196, 0.7);
    border: 5px solid #2d508f;
    color: #ffffff;
}


.main__navigation ul {
    list-style: none;
}

.main__navigation a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: #fff 2px solid;
}

.main__navigation a:hover {

}