* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(34, 102, 153, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34, 102, 153, .28) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px;
}

.container {
    width: 350px;
    padding: 30px;
    margin: 80px auto 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: rgba(64, 169, 246, 0.25);
    box-sizing: border-box;
}


input {
    outline: 0;
    opacity: 0;
}

.label {
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
}

.label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
}

.label i,
.label .title {
    color: grey;
    transition: 200ms color;
}

.label:hover {
    border: 2px solid black;
}

.label:hover i,
.label:hover .title {
    color: black;
}

.send {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: rgba(128, 189, 255, 0.6);
    color: #fff;
}

.send:hover {
    background-color: rgba(70, 99, 139, 0.98);
}

.gallery{
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.img {
    width: 50%;
}

.img img{
    width: 100%;
}
