<style>
    .back_in_menu {
        top: 0;
        left: 0;
        position: fixed;
        background: rgb(40, 43, 68);
        z-index: 100;
        opacity: 0.4;
        width: 100%;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: opacity 0.5s
    }

    .back_in_menu:hover {
        opacity: 1;
    }
</style>
<a class="back_in_menu" href="../../index.php"><<<<< Назад в содержание</a>