body, html {
    margin: 0;
    padding: 0;
}

html {
    height: 0;
}

.img {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.greeting {
    background: rgba(255, 255, 255, 0.5);
    padding: 12px 24px;
    border-radius: 6px;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 12px;
}

h1 + h2 {
    border-top: 1px solid;
}