html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    padding-top: 50px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.main__container {
    width: 70%;
}

.main__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    height: 400px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.other-video__container {
    width: 30%;
    height: 400px;
    box-sizing: border-box;
}

.other-video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    height: 25%;
    border: 2px solid #fff;
    box-sizing: border-box;
}

p {
    font-size: 30px;
}