.wrap {
    flex: 1 0 auto;
}

.container__wrapper {
    display: flex;
    justify-content: center;
}

.space {
    justify-content: space-between;
}

h1.login {
    margin-top: 0;
}

.head__elem {
    margin: 10px 0;
    width: 48%;
}

.input-client {
    color: #757575;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.form__container {
    width: 840px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(40, 102, 153);
}

.button__wrapper {
    display: flex;
    justify-content: flex-end;
}

.select {
    text-align-last: center;
    color: #757575;
    padding: 10px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: none;

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px auto, 100%;
}

option {
    color: #757575;
}

.label-radio,
.label-checkbox {
    margin-right: 15px;
}

.label-radio:last-child,
.label-checkbox:last-child {
    margin-right: 0;
}

.radio,
.checkbox {
    margin-left: 5px;
}

.link,
button {
    display: inline-block;
    width: 120px;
    background-color: rgba(128, 189, 255, 0.6);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(64, 169, 246, 0.6);
    box-shadow: 0 0 5px 2px rgba(64, 169, 246, 0.38) inset;
    cursor: pointer;
}

.link:active {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1) inset;
}

fieldset {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.default {
    color: #757575;
    font-weight: lighter;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: left;
}

.translate {
    color: #757575;
    font-weight: lighter;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: left;
}

.footer {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.last {
    order: 1;
}

.select-date {
    color: #757575;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.redact {
    padding: 10px;
}

.label__textarea {
    display: inline-block;
    padding: 10px;
}

.task-list__item {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.content__wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
}