header h1 {
    color: #2A3F54;
}

.container__form-inner {
    width: 350px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(40, 102, 153);
}

.input-inner {
    color: #424242;
    border-radius: 5px;
    border: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

label.inner {
    display: none;
}

.send {
    width: 120px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(128, 189, 255, 0.6);
    color: #fff;
}

.send:hover {
    background-color: rgba(64, 169, 246, 0.6);
    box-shadow: 0 0 5px 2px rgba(64, 169, 246, 0.38) inset;
    cursor: pointer;
}

.send:active {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1) inset;
}

button.inner {
    width: 100%;
}