/* MENU */
.menu__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(40, 43, 68);
    z-index: 100;
    opacity: 0.2;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
}

.menu__wrapper:hover {
    opacity: 1;
}

.menu__container {
    width: 840px;
    display: flex;
    justify-content: space-between;
}

.stabiliser {
    width: 100%;
    height: 70px;
}