@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap&subset=cyrillic');
@import "nav.css";
@import "form.css";
@import "login.css";
@import "footer.css";

* {
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    min-width: 800px;

    background-image: linear-gradient(rgba(34, 102, 153, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34, 102, 153, .28) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}